@model IEnumerable<CRM.SyncService.WebDashboard.Models.Contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Contacts</h3>
<p>
    <a class="btn btn-primary" href="/Contacts/Create">Create contact</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Status</th>
            <th>Source</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Status</td>
                <td>@item.Source</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/Contacts/Edit/@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/Contacts/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
